.env
.env.*
!.env.example
vendor
node_modules
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/app/public/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!storage/app/public/.gitignore
.git
.github
.phpunit.cache
phpstan-baseline.neon
storage/framework/phpstan
*.log
